DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=1195850595014299669
CONTENT_API_BASE_URL=https://zwiftpower-733125196297.us-central1.run.app
CONTENT_API_KEY=
FIREBASE_PROJECT_ID=dzr-member-site
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
OPENAI_API_KEY=
