.WorkoutGraph-module__z1--1KErG {
    fill:grey;
    stroke:grey;
    stroke-width:3;
    stroke-linecap:round;
  }
  .WorkoutGraph-module__z2--476M_ {
    fill:blue;
    stroke:blue;
    stroke-width:3;
    stroke-linecap:round;
}
.WorkoutGraph-module__z3--3WzZQ {
    fill:green;
    stroke:green;
    stroke-width:3;
    stroke-linecap:round;
}
.WorkoutGraph-module__z4--TlVqP{
    fill:rgb(194, 194, 41);
    stroke:rgb(194, 194, 41);
    stroke-width:3;
    stroke-linecap:round;
}

